/vendor
/node_modules

.env
.env.backup
.phpunit.result.cache

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/framework/*
!/storage/framework/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

/public/storage
/storage/*.key

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log